@charset "UTF-8";

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

#principal {
    text-align: center;
    background-color: greenyellow;
    color: black;
}

h2 {
    color: brown;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: #9b9b4a;
}

.avancado {
    color: red;
}

.destaque {
    background-color: yellow;
}


